<div class="home-page-starter">
  <div class="background">
    <div class="brand-name">
      <p id="brand-owner-name">Veena's</p>
      <h2 id="restaurant-name">The Food Vatika</h2>
      <p id="brand-subtitle">Family Restaurant</p>
    </div>
  </div>

  <div class="advt">
    <div class="advt-heading">
      <p id="wlcm">Welcome to </p>
      <h2 id="restaurant-name-in-advt"> The Food Vatika</h2>
      <p id="restaurant-subheading"> Family Resataurant</p>
      <p id="advt-desc">where culinary delight meets unparalleled dining experience! Indulge your senses in a symphony
        of flavors meticulously crafted by our master chefs. From sumptuous starters to decadent desserts, each dish is
        a culinary masterpiece waiting to be savored.</p>
    </div>
  </div>
</div>

<div class="menus">

  <div class="menu-heading">
    <p>Explore Our Exquisite Culinary Creations</p>
  </div>
  <div class="menu-preview">
    <a href="checkout"><img id="food-image" src="static/food.jpg" alt="food1"></a>
    <div class="food1-description">
      <a href="checkout">
        <h2>Food 1</h2>
      </a>
      <p>Lorem ipsum dolor sit amet, consectetur</p>
      <p>Lorem ipsum dolor</p>
      <p>Lorem ipsum dolor sit amet, consectetur sdjfkl ewroiwe</p>
      <a href="checkout"><button id="order-button-food1">Order Now</button></a>
    </div>
  </div>
  <div class="menu-preview">
    <div class="food2-description">
      <a href="checkout">
        <h2>Food 2</h2>
      </a>
      <p>Lorem ipsum dolor sit amet, consectetur</p>
      <p>Lorem ipsum dolor</p>
      <p>Lorem ipsum dolor sit amet, consectetur sdjfkl ewroiwe</p>
      <a href="checkout"><button id="order-button-food1">Order Now</button></a>
    </div>
    <a href="checkout"><img id="food-image2" src="static/food.jpg" alt="food1"></a>

  </div>

  <!-- <div class="menu-preview2">
    <div class="food2-description">
      <h2>Food 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur</p>
      <p>Lorem ipsum dolor</p>
      <p>Lorem ipsum dolor Lorem ipsum dolor sit amet.</p>
      <a href="checkout"><button id="order-button-food1">Order Now</button></a>
    </div>
    <a href="checkout"><img id="food-image2" src="static/food.jpg" alt="food1"></a>
  </div> -->
  <a id="go-to-menu-button" href="menus">Browse Menu</a>
</div>