
<div class="loginContentBox">
  
  <div class="formControl">
  <h1 id="heading-name">The Food Vatika</h1>
 <h2>Login</h2>
  <form action="/login" method="post" class="formGroup">
    
    <div>
    <label for="Email">Email</label>
    <input 
    type="email" 
    name="email" id="email"
    placeholder="Your Email Here"/>
  </div>
  
  <div>
    <label for="password">Password</label>
    <input 
    type="password" 
    name="password" 
    id="password"
    placeholder="Your Password Here"/>
  </div>
  <button id="loginSubmit">Submit</button>
  </form>
</div>
<div class="img">
<p>Welcome back to <span id="rest-name">The Food Vatika</span>! <br>We're delighted to have you dine with us again. <br>Please log in to your account to explore our latest offerings and make reservations</p></div>

</div>
<div class="registration">
  <p>Don't have an account? <a href="register">Register Here</a></p>

</div>
