<div class="back">
    <div class="addFoodButton">
        <ul>
            <li><a href="addFood">Add Food</a></li>
            <li><a href="viewFood">View and Edit Menus</a></li>
            <li><a href="viewOrder">View Orders</a></li>
        </ul>
    </div>
</div>


