<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="back">
        <div class="addFoodButton">
            <ul>
                <li><a href="addFood">Add Food</a></li>
                <li><a href="viewFood">View and Edit Menus</a></li>
                <li><a href="viewOrder">View Orders</a></li>
            </ul>
        </div>
    </div>
    <div><%-body%></div>
</body>
</html>